*{
    margin:0;
    padding:0;
    font-family: "Bitcount Prop Single", system-ui;
}
.main_box{
    background-image:url("camera.png");
    height:100vh;
    background-size: cover;
}

.btn_one i{
    color:white;
    font-size:20px;
    font-weight:700;
    position:absolute;
    left:16px;
    line-height:60px;
    cursor:pointer;
    transition: all 0.3s linear;
}

.sidebar_menu{
    position:fixed;
    left:-275px;
    height:100vh;
    width:250px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0px 0px 6px rgba(255,255,255,0.7) ;
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position:absolute;
    width:100%;
    line-height:60px;
    box-shadow: 0px 2px 6px rgba(255,255,255,0.4) ;
    height:60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left:50px;
    text-decoration:none;
    font-size:20px;
    font-weight:500;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top:80px;
}

.sidebar_menu .btn_two i{
    position:absolute;
    color:grey;
    font-size:18px;
    font-weight:700;
    line-height:60px;
    left:230px;
    cursor:pointer;
    opacity: 0;
    transition: all 0.3s linear;
}

.sidebar_menu .menu li{
    margin-top:6px;
    padding:10px 15px;
}

.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
    font-size: 15px;
}

.sidebar_menu i{
    padding-right: 10px;
}

.sidebar_menu .social_media{
    position: absolute;
    left:25%;
    bottom:20px;
}
.sidebar_menu .social_media i{
    opacity: 0.5;
    color: white;
    padding: 0 5px;
    
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 6px rgba(255,255,255,0.4) ;   
}

.btn_one i:hover{
    font-size: 25px;
}
.btn_two i:hover{
    font-size:25px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

#check:checked ~ .sidebar_menu{
    left:0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}



